<div class="parentDiv">

  <div class="topDiv">

    <div class="subDiv1">
      <div class="top1">
        <div></div>
        <div></div>

      </div>
      <div class="top2">
        <b>sqrlly
          <span>.</span>
        </b>
      </div>
      <div class="top3"></div>
    </div>

    <div class="searchBar">
      <input type="text" placeholder="search by OEM,Model and Category">
      <div class="barLine"></div>
    </div>

    <div class="location">
      <div class="locName">
        <div class="">New Delhi</div>
      </div>
      <div class="user">
        <img src="assets/images/a1.png" width="60" height="30">
      </div>
      <div class="notify">
        <span>2</span>
      </div>
    </div>

  </div>

  <div class="bottomSection">

    <div class="leftsection">

      <div class="home">
        &lt; Home </div>

      <div class="leftsec_1">
        <div class="greyZone">
        </div>

        <div class="midZone">

          <div class="rideGreen">
            <b>ridegreen
              <div style="clear:both;">Zoon</div>
            </b>
          </div>
          <div class="bicycle">
            <span>
              e-bicycle
            </span>
          </div>
          <div class="price_sec2">
            <div class="price">
              <b>RS. 49</b>
            </div>
            <div class="ride">
              <span>Test Ride Now</span>
            </div>
          </div>
        </div>

        <div class="fav_sec">
          <p>
            <i class="far fa-heart"></i> mark as favoutite </p>
          <p>
            <i class="fa fa-plus"></i> add to compare</p>
        </div>
      </div>

      <div class="row_1">
        <div class="row_11">
          <span>range</span>
          <div> 70km</div>
        </div>
        <div class="row_11">
          <span>top speed </span>
          <div> 25KM/H</div>
        </div>
      </div>


      <div class="row_1">
        <div class="row_11">
          <span>seating capacity</span>
          <div> 1 adult & 1 kid</div>
        </div>
        <div class="row_11">
          <span>OEM</span>
          <div> Mahinra susten</div>
        </div>
      </div>

      <div class="row_1">
        <div class="bicycle-row">
          <div class="row_21">Similar e-bicycles</div>
          <div class="row_22"> view all > </div>
        </div>

        <div>
          <div class="last_row"></div>
          <div class="last_row ext"></div>
          <div class="last_row ext"></div>
        </div>

      </div>

    </div>

    <div class="right_content">

      <div class="plan">

        <div class="right_sec">
          <div class="subs_plan">
            <b>subscriptions plan</b>
          </div>
          <div class="know_more">know more</div>
        </div>

        <div class="right_sec">
          <div class="month">1 month</div>
          <div class="month">3 months</div>
          <div class="month">6 months</div>
        </div>

        <div class="price_sec">
          <div class="first">1,500 Rs</div>
          <div class="second" >4,050 Rs</div>
          <div class="third">7,500 Rs</div>
        </div>

      </div>


      <div class="specsheet">

        <div>
          <b>specsheet for nerds</b>
        </div>

        <div class="specification" style="padding-top:20px;width:86%;">
          <div class="dimensions">
            <b>dimensions</b>
            <div>+</div>
          </div>
          <div class="dimensions">
            <b>suspension, breaks & steering</b>
            <div>+</div>
          </div>
          <div class="dimensions">
            <b>capacity</b>
            <div>+</div>
          </div>
          <div>
            <div class="motor">
              <b>motor & controller</b>
              <div>-</div>
            </div>


            <div class="motor_sec">
              <div class="torque">Torque
                <div class="momentum">79nm</div>
              </div>
              <div class="torque">Torque
                <div class="momentum">79nm</div>
              </div>
            </div>


          </div>
        </div>


      </div>


    </div>


  </div>

</div>

<router-outlet></router-outlet>